{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
Can we write to you – Personal details – {{serviceName}} – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/summary" method="post">
      {{ hmrcPageHeading({
        text: "Contact preferences",
        section: "Personal details"
      }) }}

      {{ govukRadios({
        fieldset: {
          legend: {
            text: "Can we write to you?"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ],
        id: "canWeWrite",
        name: "canWeWrite"
      }) }}

      {{ govukButton({text: "Save and continue"}) }}
    </form>
  </div>
</div>
{% endblock %}
