{% extends "layout.html" %}

{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Personal details – {{serviceName}} – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{hmrcPageHeading({text: serviceName})}}

    <p class="govuk-body">Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>enter your personal details</li>
      <li>be told they have been saved even though they have not</li>
      <li>try out different ways of creating services</li>
    </ul>

    <p class="govuk-body">Registering takes around 1 minute.</p>

    {{ govukButton({
      text: "Start now",
      href: "/name",
      isStartButton: true
    }) }}

  </div>

</div>
{% endblock %}
