{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
Your phone number – Personal details – {{serviceName}} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({href: '/name'})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/phone-number" method="post">
      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: preparedErrorList
        }) }}
      {% endif %}

      {{ govukInput({
        label: {
          text: "What is your phone number?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        value: data.phoneNumber,
        errorMessage: errors['phone-number'],
        id: "phone-number",
        name: "phoneNumber"
      }) }}

      {{ govukButton({text: "Save and continue"}) }}
    </form>
  </div>
</div>
{% endblock %}
