{% from "hmrc/components/page-heading/macro.njk"  import hmrcPageHeading %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – Personal details – {{serviceName}} – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ hmrcPageHeading({
      text: "Check your answers",
      section: "Personal details"
    }) }}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: data.name
          },
          actions: {
            items: [
              {
                href: "/name",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            text: data.phoneNumber
          },
          actions: {
            items: [
              {
                href: "/phone-number",
                text: "Change",
                visuallyHiddenText: "phone number"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: data.formattedAddress
          },
          actions: {
            items: [
              {
                href: "/address",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        },
        {
          key: {
            text: "Can we write to you?"
          },
          value: {
            html: data.canWeWrite | default('No')
          },
          actions: {
            items: [
              {
                href: "/can-we-write",
                text: "Change",
                visuallyHiddenText: "can we write to you"
              }
            ]
          }
        }
      ]
    }) }}

    <form action="/confirm" method="post">
      <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this notification you are confirming that,
        to the best of your knowledge, thedetails you are providing are correct.</p>

      {{govukButton({text: "Accept and send"})}}
    </form>
  </div>
</div>
{% endblock %}
